---
import Introduction from "../components/introduction.astro";
import Education from "../components/education.astro";
import Projects from "../components/projects.astro";
import NavBar from "../components/bar.astro";
import Layout from "../layouts/Layout.astro";
import background from "../assets/bg.jpg";
import "../styles/global.css";
---

<Layout>
	<div
		id="background"
		class=`w-screen bg-fixed font-mono bg-white`
		style={{
			backgroundImage: `url(${background.src})`,
			backgroundSize: "cover"
		}}
	>
		<NavBar />
		<Introduction />
		<Education />
		<Projects />
	</div>
</Layout>
