---
import Welcome from "../components/Welcome.astro";
import Introduction from "../components/introduction.astro";
import Education from "../components/education.astro";
import Projects from "../components/projects.astro";
import NavBar from "../components/bar.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import background from "../assets/background.svg";
//Posible color para fondo: F2E9E4
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<div
		id="background"
		class=`w-screen bg-fixed font-mono bg-white`
		style={{
			backgroundImage: `url(${background.src})`,
			backgroundSize: "cover",
		}}
	>
		<NavBar />
		<Introduction />
		<Education />
		<Projects />
	</div>
</Layout>
