<div
    class="bg-neutral-50 border-b-5 border-gray-800 fixed top-0 left-0 z-50 w-full h-18 text-xl flex flex-row items-center justify-between"
>
    <p class="ml-10 text-3xl font-bold">Contact Me</p>
    <div class="flex flex-col items-center">
        <p>My email</p>
        <p class="font-bold">nestor.gar22194@gmail.com</p>
    </div>

    <div class="mr-10 flex flex-col items-center">
        <p>My phone number</p>
        <p class="font-bold">+584248357606</p>
    </div>
</div>
