---
import profilePicture from '../assets/pengu_dab.png'

---


<div class="w-full h-150 flex flex-row">
    <div class="flex flex-col w-1/2 items-left justify-center pl-15 gap-5">
        <h1 class="text-7xl">
            Hi, i'm Nestor
        </h1>
        <h2 class="text-5xl">
            A software engineer
        </h2>
        <p class="text-3xl text-justify w-3/4">
        Recently graduated that used
        multiple programming languages and paradigms as an
        undergrad. Hire me to get a generalist that can learn
        just about anything.
        </p>
        <p class="text-3xl text-justify w-3/4">
            I also like cats and card games.
        </p>
    </div>

    <div class="m-auto">
        <div class="w-100 h-100 flex items-center jusstify-center">
            <img src={profilePicture.src}
            class="w-95 h-100">
        </div>
    </div>
</div>