---
import profilePicture from "../assets/me.webp";
import card from "../assets/card.png";
---

<div class="w-full flex flex-col pt-30 lg:pt-25">
    <div class="flex flex-row pl-5 lg:pl-15 justify-between">
        <div class="flex flex-col justify-center lg:-mt-50 items-center">
            <h1 class="font-bold text-2xl md:text-4xl lg:text-7xl">Hi, i'm Nestor</h1>
            <h2 class="text-base md:text-2xl lg:text-5xl">A software engineer</h2>
        </div>

        <div
            class="w-40 h-40 m-auto lg:mx-auto lg:mt-40 md:w-70 md:h-70 lg:w-100 lg:h-100 rounded-2xl border-3 lg:border-5 border-gray-800"
        >
            <img src={profilePicture.src} class="rounded-xl" />
        </div>
    </div>

    <div class="w-full mt-5 pl-5 lg:pl-15 pr-5 lg:pr-15 md:w-1/2 lg:w-1/2 md:-mt-20 lg:-mt-45">
        <p class="text-xl lg:text-3xl text-justify">
            Recently graduated that used multiple programming languages and
            paradigms as an undergrad. Hire me to get a generalist that can
            learn just about anything.
        </p>
        <div class="flex flex-row w-full mt-5 items-center">
            <p class="text-base lg:text-2xl">
                I also like cats and card games.
            </p>
            <img
                src={card.src}
                class="w-10 h-13 lg:w-15 lg:h-20 ml-5 mt-3 -rotate-5"
            />
        </div>
    </div>
</div>
